/*header*/
#logo{
    width: 200px;
    height: 150px;
}

#intestazione{
    background-image: url(img/pattern.png);
    background-color: rgb(33, 144, 235);
    background-size: 42%;
}

h1{
    font-size: 46px;
    margin: auto;
}
header p{
    color: gray;
    margin-top: 0;
}

header p span{
    color: rgb(5, 180, 233);
}

/*first section of main*/ 
 .first-section p{
    margin: auto;
    font-size: 11px;
 }


