/*header*/
#logo{
    width: 200px;
    height: 150px;
}

#intestazione{
    background-image: url(img/pattern.png);
    background-color: rgb(33, 144, 235);
    background-size: 42%;
}

h1{
    font-size: 46px;
    margin: auto;
}
header p{
    color: gray;
    margin-top: 0;
}

header p span{
    color: rgb(5, 180, 233);
}

/*first section of main*/ 
 .first-section p{
    margin: auto;
    font-size: 11px;
 }

/*quarta section of main*/ 

/*tabella definizione thead*/ 
thead{
  background-color: rgb(17, 197, 241);
  color: white;
  text-align: left;
}

/*tabella definizione tbody*/ 
.terza-colonna{
    text-align: left;
    width: 65%;

}

.row1{
    background-color:  rgba(65, 225, 253, 0.39);
   
}
.row2{
    background-color: rgb(245, 245, 245);
    
}

.row3{
    background-color:  rgba(65, 225, 253, 0.39);
}